<!DOCTYPE html>
<html>
  <head>
    <title>Bocs, Aplicación Chilena de Reclamos</title>
    <%= render 'layouts/railsdefault' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>